body {
    font-family: Arial, sans-serif;
    background-image: url("LeDDylan.github.io/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg");
    background-size: cover; /* This will make sure that your background covers the whole page */
    background-repeat: no-repeat; /* This will prevent the image from repeating */
    background-attachment: fixed; /* This will fix the background image during scrollin */
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.category-nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.category-nav li {
    display: inline;
    margin-right: 20px;
}

.category-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.category-nav a:hover {
    color: #ddd;
}

.large-text {
    font-size: 30px; /* Larger text for headings */
}

.small-text {
    font-size: 14px; /* Smaller text for paragraphs */
}

