*{
    font-family: "Poppins","Bodoni MT","Arial Black", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3750px;
    background: radial-gradient(ellipse at bottom, black 0%, darkslateblue 100%);
    overflow-x: hidden;
    overflow-y: auto;
}

p {
    text-align: justify;
}

header {
    background-color: white;
    opacity: 1;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px; /* Using vh unit */
    z-index: 1000;
}

.category-nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.category-nav li {
    display: inline;
    margin-right: 2vw; /* Using vw unit */
}

.category-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 120%; /* Using vw unit */
}

.category-nav a:hover {
    color: white;
}

/* Apply similar viewport unit adjustments to other elements */
.paragraph-container1 {
    font-family: "Garamond", sans-serif;
    position: absolute;
    color: white;
    top: 100px; /* Using vh unit */
    left: 36vw; /* Using vw unit */
    width: 64.5vw; /* Using vw unit */
    font-size: 3vw; /* Using vw unit */
    display: flex;
}

.paragraph-container11 {
    font-family: "Bodoni MT", sans-serif;
    position: absolute;
    color: white;
    top: 50px;
    text-align: center;
    font-size:25px;
}

.image-redimensionnee {
    max-width: 30%; /* Responsive width using vw */
    height: 220px; /* Maintain aspect ratio */
    margin-right: 5%;
}
.image-redimensionnee2 {
    max-width: 25%;
    height: 220px;
}
.image-redimensionnee5 {
    max-width: 30%; /* Responsive width using vw */
    height: 220px; /* Maintain aspect ratio */
    margin-left: 5%;
}

.image-container111 {
    position: fixed;
    top: 10%;
    left: 3%;
}
.image-container112 {
    position: fixed;
    top: 10%;
    left: 29%;
}

.language-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1010;

}
.leoandco {
        position: absolute;
        color: white;
        top:300px;
        max-width: 80%;
        height:auto;
        text-align: center;
}

.image-redimensionneeLIG {
    max-width: 15%;
    height: auto;
}
.image-redimensionneeLeoCo {
    max-width: 15%;
    height: auto;
}
.image-redimensionneeESN {
    max-width: 15%;
    height: auto;
}
.large-text {
    font-size: 2vw;
}
.small-text {
    font-size: 120%; /* Smaller text for paragraphs */
    font-family: "Poppins", sans-serif;
}

p { margin:0 }

.language-button {
    font-family: "Arial Black", sans-serif;
    cursor: pointer;
    width: 50px; /* Adjusted to viewport width */
    height: 25px; /* Adjusted to viewport height */
    outline: none;
    z-index: 1010;

}

#englishBtn {
    background-image: url('ukus.jpg');
    background-size: cover;
    z-index: 1010;

}

#frenchBtn {
    background-image: url('france.jpg');
    background-size: cover;
    z-index: 1010;

}
.hidden-link {
    text-decoration: white;
    color: white;
}


.hidden-link-large {
    text-decoration: none;
    width: 100%;
    color: white;}
.image-container-Lin {
    position: fixed;
    top: 92%;
    left: 0vw;
}

.image-container-Git {
    position: fixed;
    top: 92%;
    left: 10vh;
}
.image-redimensionnee3 {
    width: 6.8vh;
    height: auto;
}
.bodoni {
    font-family: "Garamond", sans-serif;
}
.poppins {
    font-family: "Poppins", sans-serif;
}
.hidden-link-bodoni {
    font-family: "Garamond", sans-serif;
    text-decoration: underline;
    color: white;
}
