body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.category-nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.category-nav li {
    display: inline;
    margin-right: 20px;
}

.category-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.category-nav a:hover {
    color: #ddd;
}
.large-text {
    font-size: 30px; /* Larger text for headings */
}

.small-text {
    font-size: 14px; /* Smaller text for paragraphs */
}
