*{
    font-family: "Poppins","Bodoni MT","Arial Black", sans-serif;
}

p {
    text-align: justify;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    min-width: 220vh;
    background: radial-gradient(ellipse at bottom, black -10%, darkslateblue 105%);
    overflow-y: auto; /* Hide the vertical scrollbar */
    overflow-x: auto;}

@media (min-width:1200px) {
    body {
        overflow-x: hidden; /* Hide scrollbar for larger screens */
    }
}

@media (min-width: 1200px){
    body {
        overflow-y: hidden; /* Hide scrollbar for larger screens */
    }
}

header {
    background-color: white;
    opacity: 1;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    z-index: 1000;
}

.category-nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.category-nav li {
    display: inline;
    margin-right: 2vw; /* Using vw unit */
}

.category-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 120%; /* Using vw unit */
}

.category-nav a:hover {
    color: white;
}

.small-text {
    font-size: 1.4vw; /* Using vw unit */
}

.centered-container {
    font-family: "Bodoni MT", sans-serif;
    position: absolute;
    color: white;
    top: 5%; /* Adjusted to viewport height */
    left: 27%; /* Adjusted to viewport width */
    width: 400px; /* Adjusted to viewport width */
    font-size: 450%; /* Adjusted to viewport width */
    display: flex;
}

.paragraph-container1 {
    position: absolute;
    color: white;
    top: 100px; /* Using vh unit */
    left: 27%; /* Using vw unit */
    width: 700px; /* Using vw unit */
    font-size: 200%; /* Using vw unit */
    display: flex;

}

.Prés {
    position: absolute;
    top:205px;
    left: 27%;
    color: white;
    width: 1050px;
    font-size: 110%;
}

.language-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1010;

}

.image-redimensionnee {
    max-width: 20%; /* Responsive width using vw */
    height: auto; /* Maintain aspect ratio */
}
#Pres {
    white-space: pre-line;
}
.image-redimensionnee2esilv {
    width: 10vh;
    height: auto;
}
.image-redimensionnee2 {
    width: 4.7vw;
    height: auto;
}
.image-redimensionnee3 {
    width: 7vh;
    height: auto;
}
.image-container111 {
    position: absolute;
    top: 10%;
    left: 2%;
    width: 100%;
    height: 100%;
}
.image-container112 {
    position: fixed;
    top: 10%;
    right: -10px;
}

.bodoni {
    font-family: "Baskerville Old Face", sans-serif;
}
.poppins {
    font-family: "Poppins", sans-serif;
}
.language-button {
    font-family: "Arial Black", sans-serif;
    cursor: pointer;
    width: 50px; /* Adjusted to viewport width */
    height: 25px; /* Adjusted to viewport height */
    outline: none;
    z-index: 1010;

}
.image-container-Lin {
    position: fixed;
    top: 92%;
    left: 0vw;
}

.image-container-Git {
    position: fixed;
    top: 92%;
    left: 10vh;
}


#englishBtn {
    background-image: url('ukus.jpg');
    background-size: cover;
    z-index: 1010;

}

#frenchBtn {
    background-image: url('france.jpg');
    background-size: cover;
    z-index: 1010;

}
.hidden-link {
    text-decoration: white;
    color: white;
}
.small-text {
    font-size: 14px; /* Smaller text for paragraphs */
}


.hidden-link-large {
    text-decoration: none;
    width: 100%;
    color: white;}

